body {
    font-family: sans-serif;
    margin: 0;
    background-color: rgba(247, 233, 233, 0.12);
}

/* HEADER */
header {
    background-color: #1b1919;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}

nav {
    padding: 20px;
}

ul {
    padding: 0;
    margin: 0;
}

li {
    list-style-type: none;
    display: inline;
    font-size: 30px;
    padding-right: 10px;
    color: white;
}

li a {
    text-decoration: none;
    color: white;
}

li a:visited {
    color: white;
}

li a:hover {
    color: red;
}

/* MAIN CONTENT */
h1 {
    text-align: center;
    color: #1b1919;
    font-size: 80px;
    padding-bottom: 0;
    padding-top: 40px;
}

.row {
    display: flex;
    padding-bottom: 60px;
}

.column {
    flex: 33%;
    text-align: center;
    font-size: 30px;
}

.column a {
    color: initial;
    text-decoration: none;
}

.column p {
    font-size: 20px;
    color: darkslategray;
    padding-top: 0;
    margin-top: 0;
}

.popup {
    transition: transform .3s;
}

.popup:hover {
    transform: scale(1.1, 1.1);
}

/* COMPUTING I MAIN CONTENT */
.computing-syllabus {
    text-align: center;
    font-size: 18px;
    color: darkslategray;
    padding-bottom: 50px;
}

.column.computing-units {
    padding-bottom: 200px;
}

.dropbtn {
    background-color: #312d2d;
    color: white;
    padding: 20px 50px;
    font-size: 50px;
    border: none;
    border-radius: 25%;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    overflow: auto;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

/* INTRODUCTION MAIN CONTENT */
p.introduction-heading {
    font-size: 50px;
    padding-left: 35px;
    color: #f1f1f1;
    background-color: gray;
}

p.introduction-description {
    padding-left: 35px;
    font-size: 25px;
    text-align: center;
}

abbr[title] {
    border-bottom: none;
    text-decoration: none;
}

a.module-link {
    color: black;
}

.steps li {
    color: black;
    padding: 0;
}

li.module-1-item {
    padding-left: 35px;
}

.sub-steps {
    padding-left: 100px;
}

/* FOOTER */
footer {
    font-size: 15px;
    padding-left: 60px;
    padding-bottom: 35px;
}

.nav-bar-repeat {
    color: black;
}

.nav-bar-repeat a {
    text-decoration: none;
    font-size: 16px;
}

.nav-bar-repeat a:hover {
    text-decoration: underline;
    color: darkslategray;
}

#copyright {
    color: darkslategray;
    font-size: 15px;
}